* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  background-color: #bfcfdc61;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

img {
  max-width: 100%;
}
